<div class="flex justify-between items-center h-32 border-b border-slate-200">
    <div class="flex items-center h-full">  
        <img class="lg:mr-16 mr-6 w-44 h-6" src="../../assets/images/logo.svg" alt="logo">  
        <div class="flex h-full items-center space-x-4">
            <a class="nav-link" href="#">Collections</a>
            <a class="nav-link" href="#">Men</a>
            <a class="nav-link" href="#">Women</a>
            <a class="nav-link" href="#">About</a>
            <a class="nav-link" href="#">Contact</a>
        </div>
    </div>
    <div class="flex items-center relative">
        <img class="lg:mr-16 mr-3 cursor-pointer" src="../../assets/images/icon-cart.svg" alt="cart icon">
        <img class="h-14 w-14 rounded-full hover:ring-4 hover:ring-orange cursor-pointer" src="../../assets/images/image-avatar.png" alt="user avatar">
        <app-cart class="absolute -bottom-60 right-0 z-10"></app-cart>
    </div>

    
</div>



