<div class="flex">
  <app-product-preview></app-product-preview>
  <div>
      <p>Sneaker Company</p>

      <h1>Fall Limited Edition Sneakers</h1>
    
      <p>These low-profile sneakers are your perfect casual wear companion. Featuring a 
      durable rubber outer sole, they’ll withstand everything the weather can offer.</p>
    
      <span>$125.00</span>
      <span>50%</span>
      <span>$250.00</span>
    <!-- quantity -->
      <div>
          <img src="../../assets/images/icon-minus.svg" alt="">
          <span>0</span>
          <img src="../../assets/images/icon-plus.svg" alt="">
      </div>
      <button>Add to cart</button>
  </div>
</div>