<div class="flex p-20">
  <app-product-preview class=""></app-product-preview>
  <div class="px-20 flex flex-col justify-between">
      <p class="text-orange tracking-widest font-bold">SNEAKER COMPANY</p>

      <h1 class="text-5xl font-bold tracking-wide">Fall Limited Edition Sneakers</h1>

      <div class="text-dark-grayish-blue">
        <p>These low-profile sneakers are your perfect casual wear companion. Featuring a 
        durable rubber outer sole, they’ll withstand everything the weather can offer.</p>
      </div>
      
      <div>
        <span class="text-2xl font-bold mr-10">$125.00</span>
        <span class="text-orange bg-pale-orange p-2 rounded-md font-bold">
          50%
        </span>
        <span class="block mt-2 line-through text-grayish-blue font-bold">$250.00</span>
      </div>
    <!-- quantity -->
      <div class="flex justify-between">
        <div class="flex justify-around items-center flex-initial w-32 h-12 mr-2 rounded-md bg-light-grayish-blue ">
            <div (click)="decrement()" class="flex justify-center items-center cursor-pointer h-full w-full">
              <img class="w-max h-max cursor-pointer" src="../../assets/images/icon-minus.svg" alt="">
            </div>
            <div class="w-16 text-center">{{this.quantity}}</div>
            <div (click)="increment()" class="flex justify-center items-center cursor-pointer h-full w-full">
              <img class="w-max h-max cursor-pointer" src="../../assets/images/icon-plus.svg" alt="">
            </div>
        </div>
        <div class="flex-intial w-72">
          <button (click)="addToCart()" class="btn">Add to cart</button>
        </div>
      </div>
  </div>
</div>