<div class="divide-y w-96">
    <div>
        <p>Cart</p>
    </div>
    <div class="flex-column">
        <div class="flex h-16">
            <img class="rounded-lg" src="../../assets/images/image-product-1-thumbnail.jpg" alt="">
            <div class="flex">
                <div>
                    <p class="product-name">Fall Limited Edition Sneakers</p>
                    <p>[price] x [quantity] [final price] </p>
                </div>
                <img src="../../assets/images/icon-delete.svg" alt="">
            </div>
        </div>
        <button>Checkout</button>
    </div>
</div>
