<div class="divide-y w-96 border-4 p-4 text-sm">
    <div>
        <p>Cart</p>
    </div>
    <div class="flex-column">
        <div class="flex h-16">
            <img class="rounded-lg w-1/4" src="../../assets/images/image-product-1-thumbnail.jpg" alt="">
            <div class="flex w-3/4">
                <div>
                    <p class="product-name">Fall Limited Edition Sneakers</p>
                    <p>$125.00 x 3 <b>$375.00</b> </p>
                </div>
                <img class="" src="../../assets/images/icon-delete.svg" alt="">
            </div>
        </div>
        <button>Checkout</button>
    </div>
</div>
