<div class="flex-col">
    <img class="rounded-lg" src="../../assets/images/image-product-1.jpg" alt="">
    <!-- thumbnails -->
    <div class="flex">
        <img class="rounded-lg flex-1" src="../../assets/images/image-product-1-thumbnail.jpg" alt="">
        <img class="rounded-lg flex-1" src="../../assets/images/image-product-2-thumbnail.jpg" alt="">
        <img class="rounded-lg flex-1" src="../../assets/images/image-product-3-thumbnail.jpg" alt="">
        <img class="rounded-lg flex-1" src="../../assets/images/image-product-4-thumbnail.jpg" alt="">
    </div>
</div>